*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
nav ul{
	display:inline;
  list-style-type: none;	
	padding:0px;
	float:left;
}
nav ul li{
	  list-style-type: none;
	display:inline-block;
	list-style-type:none;
	color:white;
	float:left;
	margin-left:12px; 
}
nav ul li a{
	  list-style-type: none;
	color:white;
	text-decoration:
}
.team-section{
	overflow: hidden;
	text-align: center;
	background:#34495e;
	padding: 60px;
}
.team-section h1{
	text-transform: uppercase;
	margin-bottom: 60px;
	color: white;
	font-size: 40px;
}
.border{
	display: block;
	margin: auto;
	width: 160px;
	height: 3px;
	background: #3498db;
	margin-bottom: 40px;
}
.ps{
	margin-bottom: 40px;
}
.ps a{
	display: inline-block;
	margin: 0 30px;
	width: 160px;
	height: 160px;
	overflow: hidden;
	border-radius: 50%;
}
.ps a img{
	width:100%;
	filter: grayscale(100%);
	transition: 0.4s all;
}
.ps a:hover > img{
	filter: none;
}
.section{
	width:600px;
	margin: auto;
	font-size: 20px;
	color: white;
	text-align: justify;
	height: 0;
	overflow: hidden;
}
.section:target{
	height: auto;
}
.name{
	display: block;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
}